.card {
    height: 500px;
    width: auto;
    color: #2E2F2F;
}

.card:hover {
    text-decoration: none;
    color: #2e2f2fc7;
}

.card-img-top {
    height: 60%;
    width: auto;
}

/* fancybox css copied from fancyapps showcase https://fancyapps.com/playground/gd */

img[data-fancybox] {
    cursor: zoom-in;
}

.fancybox__container {
    --fancybox-bg: rgba(193, 201, 210, 0.7);
}

.fancybox-zoomOut {
    animation: 0.2s ease-in-out fancybox-zoomOut both;
}

.fancybox-zoomIn {
    animation: 0.25s ease-in-out fancybox-zoomIn both;
}

@keyframes fancybox-zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.8, 0.8, 0.8);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fancybox-zoomOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale3d(0.8, 0.8, 0.8);
    }
}