.resort-card {
    height: 500px;
    width: auto;
    color: #2E2F2F;
}

.resort-hero {
    margin-top: 60px;
}

#resort-map {
    height: 500px;
}

.resort-card:hover {
    text-decoration: none;
    color: #2e2f2fc7;
}

.card-img-top {
    height: 60%;
    width: auto;
}

.ski-map {
    max-width: 600px;
    margin: auto;
}

.icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #3F68B8;
    margin: 20px auto;
}

.icon img {
    height: 100%;
    width: auto;
    filter: invert(93%) sepia(12%) saturate(213%) hue-rotate(201deg) brightness(103%) contrast(95%);
}

.resort-hero {
    position: relative;
    overflow: hidden;
}

/* figcaption animation code copied and adapted from https://codepen.io/jhermansen/pen/YqEReZ */

.resort-hero figcaption {
    position: absolute;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    z-index: 100;
    max-height: 100%;
    overflow: hidden;
    top: 50%;
    left: 0;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 0 2px 0 0;
}

.resort-hero img {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.resort-hero figcaption {
    top: 100%;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.resort-hero:hover figcaption {
    -moz-transform: translate3d(0, -100%, 0);
    /* move caption up vertically to fully reveal caption */
    -webkit-transform: translate3d(0, -100%, 0);
    background: #F4F4F9;
    -webkit-box-shadow: 1px -1px 1px 1px rgba(33, 33, 33, 0.7);
    -moz-box-shadow: 1px -1px 1px 1px rgba(33, 33, 33, 0.7);
    box-shadow: 1px -1px 1px 1px rgba(33, 33, 33, 0.7);
    transform: translate3d(0, -100%, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* fancybox css copied from fancyapps showcase https://fancyapps.com/playground/gd */

img[data-fancybox] {
    cursor: zoom-in;
}

.fancybox__container {
    --fancybox-bg: rgba(193, 201, 210, 0.7);
}

.fancybox-zoomOut {
    animation: 0.2s ease-in-out fancybox-zoomOut both;
}

.fancybox-zoomIn {
    animation: 0.25s ease-in-out fancybox-zoomIn both;
}

@keyframes fancybox-zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.8, 0.8, 0.8);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fancybox-zoomOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale3d(0.8, 0.8, 0.8);
    }
}