{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include '../headers/header.html' %}

<section id="sort-section">
    <div class="container">
        
        <div class="row">
            <div class="col">
                {% if bag_items %}

                {% else %}
                <p>No items in your bag</p>
                <a href="{% url 'resorts' %}">Back to all resorts</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
