{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

{% include '../headers/home-header.html' %}

<!-- Hero Image -->
<section id="hero"
    style="background: url('{{ MEDIA_URL }}ski-background.jpg') no-repeat center center; background-size: cover; height: 100vh; position: relative;">
    <div class="container">
        <div class="row text-center titles">
            <div class="col-12 mb-4">
                <h1 class="light-text hero-text">Ski Carinthia</h1>
            </div>
            <div class="col-12 mb-5">
                <p class="light-text hero-text">Hit the best slopes in the Alps</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col mt-5">
                <a href="{% url 'resorts' %}" class="btn btn-white">Discover All Resorts! <i class="fas fa-tram"></i></a>
            </div>
        </div>
    </div>
    <a href="#" class="scroll-down" id="hero-icon" address="true">
        <i class="fas fa-arrow-down"></i>
    </a>
</section>

<!-- main section in index page -->
<section id="index-main" class="pt-5">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-12 mt-5">
                <h2>Where To Go?</h2>
            </div>
            <div class="col-12 mt-5">
                <p>Carinthia has a wide range of mountains to suit every need. Find anything from family friendly
                    resorts to the
                    toughest mountains that even the most seasoned skiier will be challenged by.</p>
            </div>
        </div>
        <div class="row text-center mt-5">
            <div class="col-12 col-md-4 mt-3 mt-md-0">
                <a href="{% url 'resorts' %}?family_friendly" class="card">
                    <img src="{{ MEDIA_URL }}family-ski.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            Best for Families
                        </h5>
                        <p class="card-text">View all of the most family friendly ski resorts in Carinthia!</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 mt-3 mt-md-0">
                <a href="{% url 'resorts' %}?scenic" class="card">
                    <img src="{{ MEDIA_URL }}view-ski.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            Show me those views!
                        </h5>
                        <p class="card-text">View the carinthian resorts with the most beautiful landscapes!</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 mt-3 mt-md-0">
                <a href="{% url 'resorts' %}?large" class="card">
                    <img src="{{ MEDIA_URL }}hard-ski.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            I want only the biggest mountains!
                        </h5>
                        <p class="card-text">View only the largest resorts in carinthia for the biggest excitement!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="last-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Resorts Map</h3>
            </div>
        </div>
        <hr>
        <div id="index-map"></div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script>
    // gets resorts queryset and converts to javascript object
    let resorts = {{ resorts | safe }}

    // sets basemap tilelayer
    let BasemapAT_basemap = L.tileLayer(
        'https://maps{s}.wien.gv.at/basemap/geolandbasemap/{type}/google3857/{z}/{y}/{x}.{format}', {
            attribution: 'Datenquelle: <a href="https://www.basemap.at">basemap.at</a>',
            subdomains: ["", "1", "2", "3", "4"],
            type: 'normal',
            format: 'png',
        });

    // declares map
    let map = L.map("index-map", {
        layers: [BasemapAT_basemap],
        center: [46.787590850347605, 13.87062293485363],
        minZoom: 9,
    }).setView([46.79, 13.95], 9);

    // sets maximum map bounds
    map.setMaxBounds([
        [47.24078888513102, 11.585583235700277],
        [46.14847360151397, 16.633618011003204]
    ]);

    // creates icon
    let skiIcon = new L.Icon({
        iconUrl: "{{ MEDIA_URL }}ski-icon2.png",
        iconSize: [25, 25],
        iconAnchor: [10, 25]
    });

    // adds icon to each resort with tooltip
    resorts.forEach(resort => {

        let xReference = resort.fields.x_map_reference;
        let yReference = resort.fields.y_map_reference;

        let url = "{% url 'resort_detail' 99998888 %}".replace("99998888", resort.pk);

        let marker = L.marker([xReference, yReference], {
            icon: skiIcon
        }).addTo(map).bindPopup(`
            <h6><a href="${url}">${resort.fields.name}</a></h6>
            <p class="m-0">${resort.fields.street_address_1}</p>
            <p class="m-0">${resort.fields.street_address_2}</p>
            <p class="m-0">${resort.fields.postcode} ${resort.fields.town_or_city}</p>
            <p class="m-0">+${resort.fields.phone_number}</p>
            <a href="${resort.fields.website}" target="_blank">Website</a>
            `);

    });
</script>
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}