.card {
    height: 400px;
    width: auto;
    color: #2E2F2F;
}

.card:hover {
    text-decoration: none;
    color: #2e2f2fc7;
}

.card-img-top {
    height: 60%;
    width: auto;
}

#index-map {
    height: 70vh;
    width: 100%;
}

.hero-text {
    text-shadow: 0 0 3px #000;
}

p.hero-text {
    font-size: 1.1em;
}

#hero h1 {
    font-size: 3rem;
}

.titles {
    padding-top: 10vh;
}

.btn-white {
    background: #F4F4F9;
    color: #3F68B8;
    border-color: #3F68B8;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    color: #3F68B8;
}

.light-text {
    color: #F4F4F9;
}

.light-text:hover {
    color: #F4F4F9;
}

#hero-icon {
    border-radius: .2rem;
    position: absolute;
    bottom: 12.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#hero-icon i {
    font-size: 1.5em;
    color: #3F68B8;
}

#hero-icon:hover,
#hero-icon:focus,
#hero-icon:active {
    text-decoration: none;
}