{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
<link rel="stylesheet" href="{% static 'resorts/css/resorts.css' %}">
{% endblock %}

{% block content %}

{% include '../headers/header.html' %}

<figure class="resort-hero">
    <img src="{{ resort.image.url }}" alt="{{ resort.name }}">
    <figcaption><strong>Image Credit: {{ resort.image_credit }}</strong></figcaption>
</figure>

<main>
    <section class="resort-section container-fluid">

        <div class="row">
            <div class="col">
                <h2 class="text-center">{{ resort.name }}</h2>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-10 col-md-8 offset-1 offset-md-2 text-center pt-2 mb-4">
                <p>{{ resort.description }}</p>
                <p>{{ resort.extra_info }}</p>
                <hr>
            </div>
            <div class="col-10 offset-1 col-md-8 offset-md-2 offset-lg-0 col-lg-6 order-lg-last mb-4 mb-lg-0">
                <div class="row mb-4">
                    <div class="col-12">
                        <h3 class="mb-4">Buy Ski Passes (valid for any date the resort is open)</h3>
                    </div>
                    <div class="col-10">
                        <div class="card border-blue shadow-sm">
                            <div class="card-body">
                                <form class="form" action="{% url 'add_to_bag' resort.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row mb-4 mt-4">
                                        <div class="col-12 col-md-6">
                                            <label for="adult-quantity">Adult Pass | €{{ resort.adult_price }}
                                                each</label>
                                        </div>
                                        <div class="col-8 col-md-4">
                                            <input class="form-control" type="number" id="adult-ticket"
                                                name="adult_quantity" min="0" value="0" data-item_id="{{ resort.id }}"
                                                id="">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row mb-4">
                                        <div class="col-12 col-md-6">
                                            <label for="child-quantity">Child Pass | €{{ resort.child_price }}
                                                each</label>
                                        </div>
                                        <div class="col-8 col-md-4">
                                            <input class="form-control" type="number" id="child-ticket"
                                                name="child_quantity" min="0" value="0" data-item_id="{{ resort.id }}"
                                                id="">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row mb-4">
                                        <div class="col-12 col-md-6">
                                            <label for="family-quantity">Family Pass | €{{ resort.family_price }}
                                                each</label>
                                        </div>
                                        <div class="col-8 col-md-4">
                                            <input class="form-control" type="number" id="family-ticket"
                                                name="family_quantity" min="0" value="0" data-item_id="{{ resort.id }}"
                                                id="">
                                        </div>
                                    </div>
                                    <hr>
                                    <input type="submit" class="btn btn-blue" value="Add to bag">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-3">
                <h3 class="text-center mb-4">Ski Map <small>(click to enlarge)</small></h3>
                {% if resort.map_image %}
                <figure class="ski-map shadow">
                    <img data-fancybox href="{{ resort.map_image.url }}" data-caption="map"
                        src="{{ resort.map_image.url }}" alt="{{ resort.map_image }}">
                </figure>
                {% else %}
                <p>No map data exists</p>
                {% endif %}
            </div>


        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <h3 class="text-center mb-2">5 Day Forecast</h4>
                    <hr>
            </div>
            <div class="col-12 mb-2">
                <div class="row">
                    <div class="col-10 col-lg-2 mb-1 offset-1">
                        <div class="card border-blue shadow">
                            <div class="details card-body text-center"></div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-2 mb-1 offset-1 offset-lg-0">
                        <div class="card border-blue shadow">
                            <div class="details card-body text-center"></div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-2 mb-1 offset-1 offset-lg-0">
                        <div class="card border-blue shadow">
                            <div class="details card-body text-center"></div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-2 mb-1 offset-1 offset-lg-0">
                        <div class="card border-blue shadow">
                            <div class="details card-body text-center"></div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-2 mb-1 offset-1 offset-lg-0">
                        <div class="card border-blue shadow">
                            <div class="details card-body text-center"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr>
    </section>

    <section class="last-section pt-2 container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="text-center mb-5">Where to find us</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 offset-md-1 mb-4 mb-md-0">
                <h5>Address/Contact</h5>
                <p class="mb-0">{{ resort.street_address_1 }}</p>
                {% if resort.street_address_2 %}
                <p class="mb-0">{{ resort.street_address_2 }}</p>
                {% endif %}
                <p class="mb-0">{% if resort.postcode %}{{ resort.postcode }}{% endif %}
                    {% if resort.town_or_city %}{{ resort.town_or_city }}{% endif %}</p>
                {% if resort.phone_number %}
                <p class="mb-0">+{{ resort.phone_number }}</p>
                {% endif %}
                {% if resort.website %}
                <a href="{{ resort.website }}" target="_blank" class="mb-0">Website</a>
                {% endif %}
                {% if resort.email %}
                <p class="mb-0">Email: {{ resort.email }}</p>
                {% endif %}
            </div>
            <div class="col-12 col-md-7">
                <div id="resort-map">

                </div>
            </div>
        </div>

    </section>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<!-- script to get the map markers for the resort -->
<script>
    let lat = JSON.parse("{{ resort.x_map_reference|escapejs }}");
    let lon = JSON.parse("{{ resort.y_map_reference|escapejs }}");
</script>
<script src="{% static 'resorts/js/weather.js' %}"></script>
<script src="{% static 'resorts/js/map.js' %}"></script>
{% endblock %}