{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'resorts/css/resorts.css' %}">
{% endblock %}

{% block content %}

{% include '../headers/header.html' %}

<main>
    <section id="sort-section" class="container">
        <div class="row">
            <div class="col">
                <h2>Our Ski Resorts</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 mb-2">
                <form method="GET" id="search" action="{% url 'resorts' %}">
                    <input type="text" class="form-control" name="q" placeholder="Find a mountain">
                </form>
            </div>
            <div class="col-12 col-lg-6 mb-2">
                <button type="submit" form="search" class="btn btn-success">
                    Search
                </button>
                <a href="{% url 'resorts' %}" class="btn btn-info">Reset</a>
            </div>
            <div class="col-12 col-lg-6">
                <div class="sort-select-wrapper">
                    <select name="" id="sort-selector" class="custom-select">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort By...
                        </option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Adult
                            Price
                            (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Adult
                            Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>A-Z
                        </option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Z-A
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </section>

    <section id="resorts-section" class="container last-section">

        <div class="row">
            {% for resort in resorts %}
            <div class="col-12 col-md-6 mt-5">
                <a href="{% url 'resort_detail' resort.id %}" class="card resort-card">
                    <img src="{{ resort.image.url }}" class="card-img-top"
                        alt="{{ resort.name }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ resort.name }}
                        </h5>
                        <p class="card-text">{{ resort.description }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </section>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'resorts/js/resorts.js' %}"></script>
{% endblock %}