{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

{% include '../headers/header.html' %}

<main>
    <section class="container">
        <div class="row">
            <div class="col">
                <h2>My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3 class="mb-3">User Details</h3>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-blue">Update Info <i class="fas fa-wrench"></i></button>
                </form>
                <hr>
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="mb-2">Order History</h3 class="mb-2">
                {% if orders %}
                <div class="history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {{ item.resort.name }} x {{ item.quantity }} {{ item.ticket_type }}{% if item.quantity > 1 %}es{% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>€{{ order.order_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p>Order history empty, check out our resorts <a href="{% url 'resorts' %}">here</a>!</p>
                {% endif %}
                <hr>
            </div>
            <div class="col-12 col-lg-6 mt-4">
                <h3 class="mb-2">Blog History</h3 class="mb-2">
                {% if blogs %}
                <div class="history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Blog</th>
                                <th>Date</th>
                                <th>Content</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in blogs %}
                                <tr>
                                    <td>
                                        <a href="{% url 'post_detail' post.id %}" title="{{ post.id }}">{{ post.title }}</a>
                                    </td>
                                    <td>{{ post.published_date }}</td>
                                    <td>
                                        <p>{{ post.content|truncatewords:10 }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p>Blog history empty, add a blog post <a href="{% url 'new_post' %}">here</a>!</p>
                {% endif %}
            </div>
        </div>
    </section>
</main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}