body {
    background: #F4F4F9;
    color: #343A40;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    -webkit-transition: background 0.25s;
    /* For Safari 3.1 to 6.0 */
    transition: background 0.25s;
    height: 60px;
}

main {
    padding-top: 75px;
    padding-bottom: 50px;
}

section {
    padding-top: 1.5rem;
}

/* footer */

footer {
    height: 80px;
    width: 100%;
    background: #3F68B8;
    color: #F4F4F9;
    margin-top: auto;
}

footer a {
    color: #F4F4F9;
}

footer a:hover,
footer a:focus,
footer a:active {
    color: #F4F4F9;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* colours */

.bg-blue {
    background: #3F68B8;
}

.border-blue {
    border-color: #3F68B8;
}

.nav-input {
    background-color: #ececec;
}

.last-section {
    padding-bottom: 50px;
}

/* inputs */

input.form-control,
select.custom-select,
textarea.form-control {
    border: 1px solid #3F68B8;
}

.form-control:focus,
.custom-select:focus {
    color: #495057;
    background-color: #fff;
    border: 2px solid #3F68B8;
    outline: 0;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

/* buttons */

.btn-green {
    border: 1px solid #008100;
    color: #008100;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    color: #008100;
}

.btn-blue {
    border: 1px solid #3F68B8;
    color: #3F68B8;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    color: #3F68B8;
}

.btn-red {
    border: 1px solid #f95738;
    color: #f95738;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    color: #f95738;
}

.btn {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
    background: #fff;
}

.btn:hover,
.btn:active,
.btn:focus {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

/* toasts */

.message-container {
    position: fixed;
    top: 80px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* allauth forms */

.allauth-form-inner-content {
    color: #343a40;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

/* loading overlay */

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    z-index: 9999
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.loading img {
    height: 100px;
    width: auto;
    animation: updown 2s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}