body {
    background: #F4F4F9;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    -webkit-transition: background 0.25s; /* For Safari 3.1 to 6.0 */
    transition: background 0.25s;
    height: 60px;
}

main {
    padding-top: 75px;
}

.bg-blue {
    background: #3F68B8;
}

.light-text {
    color: #F4F4F9;
}

.light-text:hover {
    color: #F4F4F9;
}

.blue-text {
    color: #3F68B8;
}

.border-blue {
    border-color: #3F68B8;
}

.nav-input {
    background-color: #ececec;
}

#hero {
    background: url('/media/ski-background.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.titles {
    padding-top: 20%;
}

.scroll-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5rem;
}

.last-section {
    padding-bottom: 50px;
}

/* index map */

#resort-map {
    height: 500px;
}

/* footer */

footer {
    height: 80px;
    background: #3F68B8;
    color: #F4F4F9;
    margin-top: auto;
}

footer a {
    color: #F4F4F9;
}

footer a:hover,
footer a:focus,
footer a:active {
    color: #F4F4F9;
}

/* Resort detail */

.resort-hero {
    margin-top: 60px;
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* toasts */

.message-container {
    position: fixed;
    top: 80px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* allauth forms */

.allauth-form-inner-content {
    margin-top: 1.5rem;
    color: #343a40;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}