body {
    background: #F4F4F9;
    font-family: 'Inter', sans-serif;
}

header {
    -webkit-transition: background 0.25s; /* For Safari 3.1 to 6.0 */
    transition: background 0.25s;
    height: 60px;
}

section {
    padding-top: 75px;
}

.bg-blue {
    background: #3F68B8;
}

.light-text {
    color: #F4F4F9;
}

.light-text:hover {
    color: #F4F4F9;
}

.blue-text {
    color: #3F68B8;
}

#hero {
    background: url('/media/ski-background.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.titles {
    padding-top: 20%;
}

.scroll-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5rem;
}

.last-section {
    padding-bottom: 75px;
}

.card {
    height: 400px;
    width: auto;
}

.card-img-top {
    height: 60%;
    width: auto;
}

/* index map */

#index-map {
    height: 500px;
}

/* footer */

footer {
    height: 80px;
    background: #3F68B8;
    color: #F4F4F9;
}

footer a {
    color: #F4F4F9;
}

footer a:hover,
footer a:focus,
footer a:active {
    color: #F4F4F9;
}

/* Resort detail */

.resort-hero {
    margin-top: 60px;
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}