{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include '../headers/header.html' %}

<main>
    <section class="container">
        <div class="row">
            <div class="col">
                {% if new %}
                <h2>New Post</h2>
                {% else %}
                <h2>Edit Post</h2>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-8">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class="btn btn-info" value="Save"></input>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}
