{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}

{% include '../headers/header.html' %}

<main class="container">
    <div class="row">
        <div class="col">
            <h2>Blog</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p>Share your experiences of skiing in Carinthia!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <form method="GET" id="search" action="{% url 'blogs' %}">
                <input type="text" class="form-control" name="q" placeholder="Find a blog">
            </form>
        </div>
        <div class="col-12 col-lg-6 mb-2">
            <button type="submit" form="search" class="btn btn-blue">
                Search <i class="fas fa-search"></i>
            </button>
            <a href="{% url 'blogs' %}" class="btn btn-blue">Reset</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'new_post' %}" class="btn btn-green">Add Blog Post</a>
            {% endif %}
        </div>
        <div class="col-12 col-lg-6">
            <div class="sort-select-wrapper">
                <select name="" class="custom-select" id="sort-selector">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort By...
                    </option>
                    <option value="views_desc" {% if current_sorting == 'views_desc' %}selected{% endif %}>Most
                        Viewed
                    </option>
                    <option value="title_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>A-Z
                    </option>
                    <option value="title_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Z-A
                    </option>
                    <option value="date_asc" {% if current_sorting == 'date_asc' %}selected{% endif %}>Oldest
                    </option>
                    <option value="date_desc" {% if current_sorting == 'date_desc' %}selected{% endif %}>Newest
                    </option>
                    <option value="profile_asc" {% if current_sorting == 'profile_asc' %}selected{% endif %}>Author
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="pagination justify-content-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-blue">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-blue"><i
                            class="fas fa-arrow-left"></i></a>
                    {% endif %}

                    {% for page in page_obj.paginator %}
                    <a href="?page={{ forloop.counter }}" class="btn btn-blue">{{ forloop.counter }}</a>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-blue"><i
                            class="fas fa-arrow-right"></i></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-blue">Last &raquo;</a>
                    {% endif %}

                </span>
            </div>
        </div>
        <div class="col-12 text-center mt-3">
            <p class="m-0">
                <strong>Total posts: </strong>{{ posts|length }}
            </p>
        </div>
        {% if page_obj %}
        <div class="col-12 text-center mt-2">
            <span class="current">
                Page <strong>{{ page_obj.number }}</strong> of {{ page_obj.paginator.num_pages }}
            </span>
        </div>
        {% endif %}
    </div>
    <div class="row mt-4">
        {% if page_obj %}
        {% for post in page_obj %}
        <div class="col-12 col-md-6 mb-3">
            <div class="card shadow border-blue">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <hr>
                    <h6 class="card-subitle text-muted mb-2">{{ post.user_profile }}</h6>
                    <p>{{ post.content|truncatewords:10 }}</p>
                    <p class="mb-1"><small><strong>Published on:</strong> {{ post.published_date }}</small></p>
                    <p class="mb-1"><small><strong>Views:</strong> {{ post.views }}</small></p>
                    <p class="mb-2"><small><strong>Tag:</strong> {{ post.tag }}</small></p>
                    <a href="{% url 'post_detail' post.id %}" class="btn btn-green">Read More</a>
                    {% if request.user.is_authenticated %}
                    {% if request.user|lower == post.user_profile|lower or request.user.is_superuser %}
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-blue">Edit Post <i
                            class="fas fa-wrench"></i></a>
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-red">Delete Post <i
                            class="fas fa-trash-alt"></i></a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col">
            <h5>:( No Posts Found{% if search_term %} for {{ search_term }}{% endif %}</h5>
        </div>
        {% endif %}
    </div>
    <div class="row mt-2">
        {% if page_obj %}
        <div class="col-12 text-center">
            <span class="current">
                Page <strong>{{ page_obj.number }}</strong> of {{ page_obj.paginator.num_pages }}
            </span>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}